DEEPSEEK_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxx
QWEN_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxx
DIFY_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
DATABASE_URL=sqlite:///./data/db/users.sqlite
CHROMA_PERSIST_DIR=./data/chroma
